@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Artur Stanaszek<br />
    <br />
    www: <a href="http://.stanaszek.pl/">stanaszek.pl</a><br />

</address>

<address>
    <strong>Kontakt:</strong>   <a href="mailto:kontakt@stanaszek.pl">kontakt@stanaszek.pl</a><br />
<!--    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>  -->
</address>